<h1>Crear Nuevo Contacto</h1>

<div>
  <label for="firstname">Primer Nombre:</label>
 <!-- Cambiado (ngModel) a [(ngModel)] -->
  <input type="text" id="firstname" name="firstname" [(ngModel)]="newContactData?.properties.firstname" />
</div>

<div>
  <label for="lastname">Segundo Nombre:</label>
  <input type="text" id="lastname" name="lastname" (ngModel)="newContactData?.properties?.lastname" />
</div>

<div>
  <label for="email">Correo:</label>
  <input type="text" id="email" name="email" (ngModel)="newContactData?.properties?.email" />
</div>

<button class="btn btn-success" (click)="createContact()">Crear Contacto</button>
<button class="btn btn-secondary" routerLink="/contacts">Cancelar</button>
