<!-- edit-contact.component.html -->
<div class="container mt-5">
<h1 class="mb-4">Editar Contacto</h1>

<div class="row">
  <!-- Columna izquierda -->
  <div class="col-md-6">
    <div class="mb-3">
      <label for="firstname" class="form-label">Primer Nombre:</label>
      <input type="text" id="firstname" name="firstname" class="form-control"
        (input)="updateData('firstname', $event)" [ngModel]="contactData.properties.firstname" />
    </div>

    <div class="mb-3">
      <label for="lastname" class="form-label">Segundo Nombre:</label>
      <input type="text" id="lastname" name="lastname" class="form-control"
        (input)="updateData('lastname', $event)" [ngModel]="contactData?.properties.lastname" />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Correo:</label>
      <input type="text" id="email" name="email" class="form-control"
        (input)="updateData('email', $event)" [ngModel]="contactData?.properties.email" />
    </div>
  </div>

  <!-- Columna derecha -->
  <div class="col-md-6">
    <!-- Puedes agregar más campos o información en esta columna si lo necesitas -->
  </div>
</div>

<div class="mt-4">
  <button class="btn btn-success me-2" (click)="saveChanges()">Guardar Cambios</button>
  <button class="btn btn-secondary" (click)="goBack()">Volver</button>
</div>
</div>
